@import 'config';
@import 'utilities';

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background: $light-color;
  color: $light-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 300;
}

// Logo
#logo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-color;
  font-weight: 600;
  font-size: 1.8rem;
}
#logo-img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-color;
  color: $light-color;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 20px;
  transition: 0.5s;

  &.top {
    background-color: transparent;
  }

  ul {
    display: flex;
    a {
      color: $light-color;
      padding: 10px 20px;
      margin: 0 5px;
      font-size: 1.3rem;

      &:hover {
        border-bottom: $main-color 2px solid;
      }
    }
  }
}

// Showcase
#showcase {
  background: $showcase-bg no-repeat top center/cover;
  height: 100vh;
  position: relative;

  // Header Content
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }

    p {
      font-size: 1.7rem;
      margin: 20px 0 30px;
    }
  }
}

#services {
  border-top: 2px solid $main-color;
  
  h3 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  i {
    background-color: $main-color;
    color: $light-color;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
}

#contact {
  // Form
  &-a {
  border-top: 2px solid $main-color;
    
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .email-input {
        grid-area: email;
      }
      .subject-input {
        grid-area: subject;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type="submit"] {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }
}


#footer{
  background: $dark-color;
  color: $light-color;
  border-top: 2px solid $main-color;
  
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .social .fab {
      box-sizing: content-box;
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
        cursor: pointer;
      }
    }
  }
}
